@import url("https://fonts.googleapis.com/css2?family=Playwrite+DK+Uloopet:wght@100..400&display=swap");

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: Playwrite DK Uloopet;
}

h1,
h2,
h3,
h4,
pre {
  margin: 0;
  padding: 0;
  font-family: Playwrite DK Uloopet;
}

html,
body {
  height: 100vh;
  width: 100vw;
}

.navigation,
.navbar {
  width: 100vw;
  height: 7vh;
}

.main {
  display: flex;
  flex-direction: column;
  width: 100vw;
  height: 93vh;
  background-color: rgb(33, 37, 41);
}

.top {
  width: auto;
  height: 28vh;
  display: flex;
  flex-direction: column;
}

.top-top {
  width: 100vw;
  height: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.top-middle {
  width: 100vw;
  height: 30%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.top-bottom {
  width: 100vw;
  height: 20%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.name,
.small-desc,
p,
h2,
h1,
h3,
pre {
  color: #fff;
}

.icon-gh {
  width: 40px;
  height: 40px;
}

.icon-linked {
  width: 42px;
  height: 42px;
}

.socials {
  margin: 0 5px;
}

.middle {
  width: auto;
  height: 30vh;
  display: flex;
  flex-direction: column;
  text-align: center;
}

.home-desc {
  margin-top: 7vh;
}

.bottom {
  width: auto;
  height: 35vh;
  text-align: center;
}

.photo {
  height: 25vh;
  border-radius: 50%;
}
